:host .container {
    display: flex;
    flex-wrap: wrap;
    .dashboard {
        margin: 20px 30px;
        border-radius: 5px;
        padding: 5px;
        width: 65%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        height: calc(100vh - 100px);
        background-color: #fafafa;
        overflow-y: scroll;
    }
    
    .example-card {
        max-width: 400px;
        img {
            margin: 10px;
            max-width: 100% !important;
        }
      }
      
      .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }
    
      .include-house {
        width: 280px;
        margin: 20px 0;
        display: flex;
        margin-left: 10px;
        mat-form-field {
            width: 100% !important;
        }
      }
      mat-card-actions {
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
      }

      dialog {
        box-shadow: 0px 0px 5px #757575;
        border-radius: 5px;
        border: .5px solid #757575;
      
        &::backdrop {
          backdrop-filter: blur(1px);
        }
      }
}